.features__list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}

.features__item {
  @media screen and (max-width: 767px) {
    margin-bottom: 30px;
    &:last-child {
      margin-bottom: 0px;
    }
  }

  @media screen and (min-width: 768px) {
    width: 354px;
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }

  @media screen and (min-width: 1200px) {
    width: 270px;
    flex-basis: calc(100% / 4 - 30px);

    margin-bottom: 0px;
  }
}

.features__icon {
  display: flex;
  height: 120px;
  justify-content: center;
  align-items: center;

  background-color: var(--secondary-background-color);
  border-radius: 4px;
  margin-bottom: 30px;
}

.features__title {
  margin-bottom: 10px;

  color: var(--secondary-color-text);

  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
}

.features__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
