.footer-social__text {
  display: block;
  color: var(--white-color);

  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.footer-social__list {
  display: flex;
}

.footer-social__icon {
  fill: var(--white-color);
}

.footer-social__item:not(:last-child) {
  margin-right: 10px;
}

.footer-social__link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color 250ms var(--time-animation);

  &:hover,
  &:focus {
    background-color: var(--accent);
  }
}
