.footer-conntacts__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-conntacts__link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;

  font-size: 14px;
  line-height: 1.71;

  transition: color 250ms var(--time-animation);

  &:hover,
  &:focus {
    color: var(--accent);
  }
}

.footer-conntacts__address {
  margin-bottom: 9px;

  color: var(--white-color);

  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}
