.form-footer__text {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;

  color: #ffffff;
}

.form-footer__subscription {
  display: flex;
}

.form-footer__input {
  margin-right: 12px;
  padding: 15px 0 15px 16px;
  width: 358px;
  height: 50px;

  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  font-weight: 400;
  font-size: 16px;
  line-height: calc(20 / 16);
  color: var(--white-color);

  outline: none;
  transition: border-color 250ms var(--time-animation);

  &:focus {
    border-color: var(--accent);
  }

  &::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: calc(20 / 16);

    color: rgba(255, 255, 255, 0.6);
  }
}

.form-footer__button {
  padding: 10px 28px 10px 29px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  cursor: pointer;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  width: 200px;
  height: 50px;

  background-color: var(--accent);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--white-color);
  border: none;

  transition: background-color 250ms var(--time-animation);

  &:focus,
  &:hover {
    background-color: var(--button-color-hover);
  }
}

.form-footer__button-text {
  margin-right: 10px;
}
