.modal-form__input-thumb {
  display: block;
  position: relative;
}

.modal-form__input {
  width: 100%;
  padding: 12px 0 12px 42px;

  height: 40px;

  font-weight: 700;
  font-size: 14px;
  line-height: calc(24 / 14);
  color: var(--secondary-color-text);

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms var(--time-animation);

  &:focus {
    border-color: var(--accent);
  }
}

.modal-form__input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);

  fill: var(--secondary-color-text);

  transition: fill 250ms var(--time-animation);

  .modal-form__input:focus + & {
    fill: var(--accent);
  }
}
