.modal-form__group-textarea {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.modal-form__textarea {
  padding: 12px 16px;

  height: 120px;

  resize: none;

  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  color: var(--secondary-color-text);

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms var(--time-animation);

  &:focus {
    border-color: var(--accent);
  }

  &::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
  }
}
