.card-content {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.card-content__title {
  margin-bottom: 4px;

  color: var(--secondary-color-text);

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.card-content__type {
  font-size: 16px;
  line-height: 1.87;
}
