.team {
  background-color: var(--secondary-background-color);
}

.team__list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: -30px;
  }
}

.team__item {
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) {
    width: 354px;
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-bottom: 30px;
  }

  @media screen and (min-width: 1200px) {
    width: 270px;
    flex-basis: calc(100% / 4 - 30px);
    margin-left: 30px;
    margin-bottom: 30px;
  }
}

.team__title {
  margin-bottom: 30px;

  color: var(--secondary-color-text);

  font-size: 28px;
  line-height: calc(33 / 28);
  text-align: center;

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;

    font-size: 36px;
    line-height: 1.17;
  }
}

.team__card-person {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  overflow: hidden;
}
