:root {
  --primary-color-text: #757575;
  --secondary-color-text: #212121;
  --accent: #2196f3;
  --white-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --button-color-hover: #188ce8;

  --card-set-gap: 30px;

  --time-animation: cubic-bezier(0.4, 0, 0.2, 1);
}

$primaryFont: 'Roboto', sans-serif;
$logoFont: 'Raleway', sans-serif;
